# This is so we understand failures better
build --verbose_failures

# By default build in C++17 mode using the Homegrown scheduler for parallelism.
build --repo_env=CC=g++
#build --repo_env=CC=clang++
build --cxxopt=-std=c++20
build --cxxopt=-mcx16        # 16 byte CAS
build --cxxopt=-DHOMEGROWN   # use the homegrown scheduler
# build --cxxopt=-DPARLAY_USE_STD_ALLOC # TODO: Try removing this
build --cxxopt=-pthread      # necessary for homegrown scheduler
build --cxxopt=-march=native
build --cxxopt=-fvisibility=hidden
build --cxxopt=-fvisibility-inlines-hidden
build --cxxopt=-fsized-deallocation  # https://github.com/pybind/pybind11/issues/1604 (for clang)
# build --cxxopt=-UNDEBUG # TODO: try removing this
build --cxxopt=-DFINTEGER=int # Required by Faiss
build -c opt

# C++ warning flags.
build --cxxopt=-Wall
build --cxxopt=-Wextra
build --cxxopt=-Wcast-qual
build --cxxopt=-Wno-unused-parameter
build --cxxopt=-Wpointer-arith
# Turning on -Wshadow rather than just -Wshadow=local would be nice, but the
# codebase currently contains lots of instances of global shadowing.
#build --cxxopt=-Wshadow=local
build --cxxopt=-Wvla

# Build without parallelism.
build:serial --cxxopt=-UHOMEGROWN
build:serial --cxxopt=-DPARLAY_SEQUENTIAL

# Build using OpenMP for parallelism.
build:openmp --cxxopt=-UHOMEGROWN
build:openmp --cxxopt=-DOPENMP
build:openmp --cxxopt=-fopenmp
build:openmp --linkopt=-fopenmp

# Build with debug
build:debug --cxxopt=-UHOMEGROWN
build:debug --cxxopt=-DPARLAY_SEQUENTIAL
build:debug --cxxopt=-g
build:debug --cxxopt=-Og

build:asan --strip=never
build:asan --cxxopt=-fsanitize=address
build:asan --cxxopt=-O1
build:asan --cxxopt=-g
build:asan --cxxopt=-fno-omit-frame-pointer
build:asan --cxxopt=-Wno-macro-redefined
build:asan --linkopt=-fsanitize=address

# Disable Bzlmod for every Bazel command
# Turn it on after we migrate to use bzlmod
common --enable_bzlmod=False
common --enable_workspace=True