# Core AI, Retrieval, and Clustering
colbert-ai~=0.2.22
faiss-cpu~=1.12.0
fast_plaid~=1.4.4.290

# Hugging Face Ecosystem
accelerate==1.11.0

# Evaluation
beir==2.2.0

# Data Handling & Plotting
matplotlib~=3.10.6
seaborn~=0.13.2

# Local Wheel Dependency
